<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{pageTitle}}</title>
   <body>
      {{> header}}
      <!-- <p>{{screamIt Shubham}}</p> -->

      {{> footer}}
   </body>

</head>

</html>
